body {
    background-image: url(img/back.png);
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    color: white    
}

h1 {
    color: white;
}

form {
    color: white;
}   

th {
    color: white;
}

p {
    color: white;
}